// #intro-card {
//   border: 1px;
// }

#label-font {
  size: 16px;
  font-weight: 500;
}

h1 {
  color: #efefe5;
}

.card-body {
  background-color: #f4f4ed;
  border-radius: 5px;
}

.card-shadow {
  // border: 1px solid;
  // padding: 10px;
  box-shadow: 50px 50px;
}

.fa-chevron-left {
  font-size: 2rem;
  color: $orange;
}

i:hover {
  cursor: pointer;
}

body {
  background-color: #515143;
}

// .app-card {
//   border: 1px solid black;
// }
